<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505650134872-6idl0eee9ivsi24uo24ipl0bmc8aid3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505650134872-6idl0eee9ivsi24uo24ipl0bmc8aid3a</string>
	<key>API_KEY</key>
	<string>AIzaSyAMAZqdSHarSMUWYCr5mYtkd2obRa9ydn4</string>
	<key>GCM_SENDER_ID</key>
	<string>505650134872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tk108gabalian-gmail.com.CovidReporter</string>
	<key>PROJECT_ID</key>
	<string>coromil</string>
	<key>STORAGE_BUCKET</key>
	<string>coromil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505650134872:ios:d2ebfe92c2435551b1ef2d</string>
</dict>
</plist>